* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  border: 1px solid #000000;
  margin: 10px 100px;
}

.new-item {
  width: 50%;
  padding: 0 40px;
}

.list-item {
  width: 50%;
  padding: 0 40px;
  border: 1px solid;
  margin: 20px;
  position: relative;
}

h4 {
  text-align: center;
  margin: 20px 0 50px 0;
  text-transform: capitalize;
}

.top_content input {
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid #DEDEDE;
  width: 100%;
  margin: 0 0 20px 0;
}

input:focus {
  outline: none;
}

label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin: 15px 0 15px 5px;
  text-transform: capitalize;
}

textarea {
  width: 100%;
  border: 1.5px solid #4B4B4B;
  padding: 5px 10px;
}

.bt-item {
  display: flex;
  justify-content: space-between;
}

.bt-item-left {
  width: 45%;
}

.icon_input {
  display: flex;
  justify-content: start;
}

.bt-item-right {
  width: 50%;
}

form input,
select {
  padding: 10px 10px;
  border: 1.5px solid #4B4B4B;
  width: 100%;
}

.button_content {
  margin: 0 0 50px 0;
}

.button_content button {
  padding: 10px 25px;
  width: 100%;
  border-radius: 3px;
  margin: 50px 0 0 0;
  border: 1px solid #5CB85C;
  background-color: #5CB85C;
  color: #ffffff;
  font-size: 15px;
}

h4 {
  text-align: center;
  margin: 20px 0 50px 0;
  text-transform: capitalize;
}

.item-detail {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  padding: 15px 15px;
  margin: 20px 0;
}

.item-detail-left {
  display: flex;
}

.item-detail-right {
  display: flex;
  width: 40%;
}

h5 {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-left: 10px;
}

.detail {
  width: 55%;
}

 .remove {
  width: 40%;
}

.detail button,
.remove button {
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
}

.detail button {
  border: 1px solid #00BCD4;
  background-color: #00BCD4;
  padding: 5px 25px;
}

.remove button {
  border: 1px solid #D9534F;
  background-color: #D9534F;
  padding: 5px 15px;
}

button:focus {
  outline: none;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.remove-all button {
  margin:20px 0 0 360px;
  position: absolute;
  bottom: 10px;
}

